html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  left: 20%;
  height: 100%;
  width: 80%;
}
#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  overflow: auto;
}
#sidebar p img {
  vertical-align: middle;
  padding: 5px 10px;
}
